<div class = "feed_input">
  <h1>Full Feed</h1>
  <span class="slogan">Get everything you want in your feed reader.</span>
    
  <% form_for(:full_feed, @full_feed, :url => { :controller => :feeds, :action => :preview }, :html => {:method => :get})  do |f| %>
    <p>
      <%= f.label(:url, "URL:") %>
      <%= f.text_field :url, :class => "text" %>

      <% if @full_feed && @full_feed.errors.on(:url) %>
        <span class="example"><%= error_message_on 'full_feed', 'url', :css_class => "error" %>  </span>
      <% else %>      
        <span class="example">An RSS Feed</span>    
      <% end %>
    </p>
    <p>
      <%= f.label(:selectors, "Selectors:") %>
      <%= f.text_area :selectors %>
      <span class="example">CSS, XPath, whatever. <br/> One per line, please.</span>
    </p>
    
    <p class="btn">
      <button type="submit" name="submit">Preview</button>
    </p>
  <% end %>
</div>